.block {
	position: relative;
	padding: 20px 0;
	background-size: 100%;
	background-position: 0 0;
	background-attachment: fixed;
	display: table;
	width: 100vw;
	height: auto;
	table-layout: fixed;
	&-header {
		display: table-header-group;
		height: 1%;
	}
	&-content {
		display: table-row-group;
	}
	&-footer {
		display: table-footer-group;
		height: 1%;
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
	}
	&-collapse {
		padding: 0;
	}
	&-fill-auto {
		height: auto;
	}
	&-full-height{
		height: 100%;
	}
	&-inverse {
		color: #fff;
	}
	&-overlay {
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0.5;
			background-color: #000;
		}		
	}	

	&-heading{
		position: relative;
		&-after{
			&::after{
			position: absolute;
			content: "";
			display: inline-block;
			height: 5px;
			width: 15%;
			background-color: $brand-primary;
			text-align: center;
			left: 43%;
			}		
		}
	}

	&-desc{
		text-align: justify;
	}

	&-image{
		img{
			width: 100%;
		}
	}	
}


.order{
	color: lighten($brand-primary, 10%);
	ul{
		font-size: 20px; 
	}
	li{
		font-size: 16px;
		list-style-type: circle;
	}
}
