//Brand-colors
$brand-primary:                       #FF9A12;
$brand-success:                       #5cb85c;
$brand-info:                          #5bc0de;
$brand-warning:                       #f0ad4e;
$brand-danger:                        #d9534f;
//Custom colors              
$brand-secondary: 			              #00DA00;
$bg-secondary:     			              #2A3E16;
//Text
$text-color:            							darken($brand-secondary, 20%);
//** Global textual link color.
$link-color:                          $brand-secondary;
// Navbar lin 
$navbar-default-link-color:           $brand-secondary;
$navbar-default-link-hover-bg:        transparent;
//Carous 
$carousel-control-color:              $brand-primary;