video { text-outline: none;
    position: absolute;
    top: 5%;
    left: 0;
    transform: translateX(0) translateY(-50%);
    min-width: 100%;  
    min-height: 100%;
    width: auto;  
    height: auto; 
    z-index: -100;
    background: url('../images/fire.png') no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1199px ) {
    video { 
        top: 0;
        transform: translateX(-20%) translateY(-55%);       
    }
}

@media screen and (max-width: 991px ) {
    video { 
        transform: translateX(-50%) translateY(-40%);       
    }
}


@media screen and (max-width: 767px ) {
    video { 
        transform: translateX(-50%) translateY(-60%);       
    }
}


@media screen and (max-width: 479px ) {
    video { 
        transform: translateX(-80%) translateY(-60%);       
    }
}